body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  width: 80%;
  margin: 100px auto;
  padding: 40px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.container:hover {
  transform: scale(1.05);
}

h2 {
  text-align: center;
  margin-top: 0;
  color: #FF136F;
}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #444;
  color: #fff;
}

.button-container {
  text-align: center;
}

input[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #FF136F;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #FF0A5D;
}

.forgot-password {
  text-align: center;
  margin-top: 20px;
}

.forgot-password a {
  color: #FF136F;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
